.userList img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.pageNumbers {
    margin-bottom: 20px;
}
.pageNumbers .selected {
    font-weight: bold;
    color: #741b47;
}
.pageNumbers .page {
    margin: 0 7px;
}
.item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.item a {
    margin-right: 20px;
}
.item button {
    margin-top: 5px;
}