.header {
    grid-area: h;
    padding: 10px 47px 0px;
}

.header img {
    width: 50px;
}
.header img:hover {
    cursor:pointer;
}

.loginBlock {
    float:right;

}
.loginBlock a {
    color: rgb(225, 228, 229);
}
.loginBlock button {
    margin-left: 15px;
}