.footer {
    grid-area: f;
    background-color: grey;
    color: #f4cccc;
    min-height: 60px;
    text-align: center;
}
.footer p {
    background-color: grey;
    padding-bottom: 10px;
}

.footer nav.nav {
    
    background-color: grey;
    padding: 15px;
}
.footer nav.nav > div {
    display: inline-block;
    margin: 0 10px;
}
